/* layout */

body {
    margin: auto;
    font-family: "Smythe", system-ui;
    line-height: 24px;
    width: 600px;
    box-shadow:
    inset 0 3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

header {
    background: no-repeat url("/images/Main.png");
    height: 167px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

/* typography and icons */

h1{
    font-size: 2.4375rem;
    margin-top: 46px;
}

h2{
    margin-top: -19px;
    font-size: 1.40125rem;
}

h1, h2{
    color: white;
    /* -webkit-text-stroke: 0.5px #273633;  */
    margin-left: 46px;
}

h3,h4,p{
    margin: 0;
}

p {
    color: #8B8B8B;
}

/* Item */

.items{
    margin-top: 67px;
}

.item,
.itemDetails{
    margin: auto;
}


.item{
    max-width: 508px;
    height: 140px;
    display: flex;
    justify-content: space-around;
    border-bottom: solid #D2D2D2 1px;
}

.foodIcon{
    font-size: 4.875rem;
}

button{
    background: none;
    font-family: Verdana, sans-serif;
    cursor: pointer;
}

.addItemBtn{
    border: 1px solid #DEDEDE;
    height: 50px; 
    width: 50px;
    margin: auto;
    border-radius: 50%;
    font-size: 1.5625rem;
}

.addItemBtn:hover{
    background: #DEDEDE;

}

.addItemBtn:active{
    background-color: white;
}

/* Order Resume */

.orderResume{
    margin: auto;
    margin-top: 45px;
    max-width: 508px;
    text-align: center;
}

#youOrderText{
    margin-bottom: 64px;
}

.orderItems{
    border-bottom: solid 1px #393333;
    padding-bottom: 31px;
}

.removeBtn{
    font-size: 0.75rem;
    color: #BBBBBB;
    border: none;
}

.orderItem,
.orderTotal{
    display: flex;
    justify-content: space-between;
}

.orderItem div{
    display: flex;
}

.orderTotal{
    margin-top: 14px;
    padding-bottom: 53px;
}

.completeOrderBtn{
    background-color: #273633;
    color: white;
    width: 100%;
    height: 60px;
    font-size: 0.875rem;
    font-weight: bold;
}

/* Payment details modal */

.paymentDetailsModal{
    margin: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
    max-width: 524px;
    height: 542px;
    text-align: center;
    font-family: Verdana, sans-serif;
    box-shadow:
    inset 0 3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

form h3{
    font-size: 1.5rem;
    margin-top: 47px;
    margin-bottom: 47px;
}

input{
    width: 475px;
    height: 71px;
    font-size: 1.25rem;
    margin-bottom: 23px;
    border: 1px solid #757575;
}

.payBtn{
    margin-top: 23px;
    width: 475px;
    height: 71px;
    font-size: 1.25rem;
    background-color: #273633;
    color: white;
}

/* Thanks for order panel */

.thanksForOrderPanel{
    margin: auto;
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 504px;
    height: 120px;
    text-align: center;
    background-color: #ECFDF5;
}

.thanksForOrderPanel h3{
    font-size: 2rem;
}

/* utility */
.hidden{
    display: none;
}
