/* layout */

body {
    margin: auto;
    font-family: "Smythe", system-ui;
    line-height: 24px;
    max-width: 600px;
    box-shadow:
    inset 0 3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

header {
    background: no-repeat url("/images/Main.png");
    height: 167px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

/* typography and icons */

h1{
    font-size: 39px;
    margin-top: 46px;
}

h2{
    margin-top: -19px;
    font-size: 22.42px;
}

h1, h2{
    color: white;
    -webkit-text-stroke: 0.5px #273633; 
    margin-left: 46px;
}

h3,h4,p{
    margin: 0;
}

p {
    color: #8B8B8B;
}

/* Item */

.items{
    margin-top: 67px;
}

.item,
.itemDetails{
    margin: auto;
}


.item{
    max-width: 508px;
    height: 140px;
    display: flex;
    justify-content: space-around;
    border-bottom: solid #D2D2D2 1px;
}

.foodIcon{
    font-size: 78px;
}

button{
    background: none;
    font-family: Verdana, sans-serif;
    cursor: pointer;
}

.addItemBtn{
    border: 1px solid #DEDEDE;
    height: 50px; 
    width: 50px;
    margin: auto;
    border-radius: 50%;
    font-size: 25px;
}

.addItemBtn:hover{
    background: #DEDEDE;

}

.addItemBtn:active{
    background-color: white;
}

/* Order Resume */

.orderResume{
    margin: auto;
    margin-top: 45px;
    max-width: 508px;
    text-align: center;
}

#youOrderText{
    margin-bottom: 64px;
}

.orderItems{
    border-bottom: solid 1px #393333;
    padding-bottom: 31px;
}

.removeBtn{
    font-size: 12px;
    color: #BBBBBB;
    border: none;
}

.orderItem,
.orderTotal{
    display: flex;
    justify-content: space-between;
}

.orderItem div{
    display: flex;
}

.orderTotal{
    margin-top: 14px;
    padding-bottom: 53px;
}

.completeOrderBtn{
    background-color: #273633;
    color: white;
    width: 100%;
    height: 60px;
    font-size: 14px;
    font-weight: bold;
}
